<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h2>Documentation</h2>
    <p>
        Voici toutes la documentation qui a été utilisé:
        <a href="https://arxiv.org/pdf/2210.01922"></a>
        <a href="https://arxiv.org/pdf/2308.03883"></a>
        <a href="https://openreview.net/forum?id=XgRbxO9pLJ"></a>
        <a href="https://www.vldb.org/pvldb/vol11/p813-nargesian.pdf"></a>

    </p>

</body>
</html>
